#------------------------------------------
# GIT IGNORE
#
# @author: Wild Boar
#------------------------------------------

#----------------------------------
# Build Location
#----------------------------------
build/

#----------------------------------
# Log Files
#----------------------------------
.vscode/*.log
